---
import Layout from "../layouts/Layout.astro";
import HomeSvg from "../components/HomeSvg.astro";
---

<Layout title="Welcome to Astro.">
  <main
    class="relative grid h-screen min-h-[800px] w-full max-w-screen-lg content-center justify-items-center"
  >
    <section
      class="relative grid content-center justify-items-center gap-5 text-center"
    >
      <h1 class="text-[clamp(2.5rem,1.6713rem+4.4199vw,4.5rem)] font-bold">
        Hi, I'm Clara.
      </h1>

      <div class="flex items-center gap-1 text-lg font-semibold">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class=""
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path><path
            d="M12 12m-8 0a8 8 0 1 0 16 0a8 8 0 1 0 -16 0"></path><path
            d="M12 2l0 2"></path><path d="M12 20l0 2"></path><path
            d="M20 12l2 0"></path><path d="M2 12l2 0"></path></svg
        >

        <p>Northern Ireland</p>
      </div>

      <p class="max-w-lg text-lg">
        I'm a full-stack developer who loves typescript and learning new
        technologies!
      </p>
    </section>

    <HomeSvg />
  </main>

  <section
    class="relative mt-[220px] grid h-[200vh] min-h-[800px] w-full auto-rows-min justify-items-center overflow-x-clip"
  >
    <div
      class="sticky top-0 z-50 grid w-full max-w-screen-lg justify-items-center"
    >
      <div
        class="absolute top-[-220px] grid w-screen justify-center overflow-clip"
      >
        <div class="namiContainer grid justify-items-center">
          <svg
            class="mb-[-2px] mt-[-2px] h-[calc(50vh-1000px+442px)]"
            width="1024"
            viewBox="0 0 1024 217"
            preserveAspectRatio="none"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="nami"
              pathLength="1"
              d="M440 3V214"
              stroke="#E34F26"
              stroke-width="5"
              stroke-linecap="square"></path>
            <path
              class="nami"
              pathLength="1"
              d="M464 3V214"
              stroke="#3178C6"
              stroke-width="5"
              stroke-linecap="square"></path>
            <path
              class="nami"
              pathLength="1"
              d="M488 3V214"
              stroke="#F7DF1E"
              stroke-width="5"
              stroke-linecap="square"></path>
            <path
              class="nami"
              pathLength="1"
              d="M512 3V214"
              stroke="black"
              stroke-width="5"
              stroke-linecap="square"></path>
            <path
              class="nami"
              pathLength="1"
              d="M536 3V214"
              stroke="#61DAFB"
              stroke-width="5"
              stroke-linecap="square"></path>
            <path
              class="nami"
              pathLength="1"
              d="M560 3V214"
              stroke="#CC6699"
              stroke-width="5"
              stroke-linecap="square"></path>
            <path
              class="nami"
              pathLength="1"
              d="M584 3V214"
              stroke="#1572B6"
              stroke-width="5"
              stroke-linecap="square"></path>
          </svg>
        </div>
        <div class="zoroContainer">
          <svg
            width="1024"
            height="440"
            viewBox="0 0 1024 440"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="zoro"
              d="M560 2.50024C560 229 276 235.5 211 420"
              stroke="#CC6699"
              stroke-width="5"
              stroke-linecap="square"
              pathLength="1"></path>
            <path
              class="zoro"
              d="M584 2.50024C584 234.5 298.5 251.5 235 420"
              stroke="#1572B6"
              stroke-width="5"
              stroke-linecap="square"
              pathLength="1"></path>
            <path
              class="zoro"
              d="M512 2.50024C512 212 200.5 227 163 420"
              stroke="black"
              stroke-width="5"
              stroke-linecap="square"
              pathLength="1"></path>
            <path
              class="zoro"
              d="M536 2.50024C536 223.5 240.5 228 187 420"
              stroke="#61DAFB"
              stroke-width="5"
              stroke-linecap="square"
              pathLength="1"></path>
            <path
              class="zoro"
              d="M488 2.50024C488 190.5 163.5 232.5 139 420"
              stroke="#F7DF1E"
              stroke-width="5"
              stroke-linecap="square"
              pathLength="1"></path>
            <path
              class="zoro"
              d="M464 2.50024C464 183 124 235 115 420"
              stroke="#3178C6"
              stroke-width="5"
              stroke-linecap="square"
              pathLength="1"></path>
            <path
              class="zoro"
              d="M440 2.50024C440 168.5 107.5 227.5 91 420"
              stroke="#E34F26"
              stroke-width="5"
              stroke-linecap="square"
              pathLength="1"></path>
          </svg>
        </div>
      </div>
    </div>

    <div
      class="sticky top-0 z-10 grid h-screen w-full max-w-screen-lg items-center px-4"
    >
      <div
        class="grid h-[70%] w-full grid-cols-2 items-center gap-4 rounded-3xl px-4 shadow-2xl"
      >
        <div
          class="flex h-60 w-96 flex-col justify-center gap-4 justify-self-end text-end"
        >
          <h2 class="text-2xl font-semibold">Random Title</h2>
          <div class="relative flex h-6 justify-end">
            <svg
              class="icon icon-tabler icon-tabler-brand-html5 absolute -top-2 aspect-square w-10"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z"></path><path
                d="M15.5 8h-7l.5 4h6l-.5 3.5l-2.5 .75l-2.5 -.75l-.1 -.5"
              ></path></svg
            >
          </div>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et vel
            nam, consectetur ipsam, qui nihil repudiandae sunt repellat
            architecto
          </p>
          <div class="flex justify-end gap-4">
            <button
              class="rounded-lg bg-black px-4 py-1 font-semibold text-white"
              >Live</button
            >
            <button
              class="rounded-lg bg-black px-4 py-1 font-semibold text-white"
              >Code</button
            >
          </div>
        </div>
        <div class="aspect-video w-full rounded-2xl bg-black/10"></div>
      </div>
    </div>
  </section>
</Layout>

<style>
  path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    /* visibility: hidden; */
  }
</style>

<script>
  import { timeline, scroll, animate } from "motion";
  import Lenis from "@studio-freight/lenis";

  /**
   * Remember to set the pathLength="1" SVG attribute on
   * the elements you want to draw. This makes it easy
   * to use the same animation logic for elements of a
   * different path length.
   */

  const lenis = new Lenis();

  lenis.on("scroll", (e) => {
    console.log(e);
  });

  function raf(time) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);

  scroll(
    animate(".nami", {
      strokeDashoffset: [1, 0],
      visibility: ["visible", "visible"],
    }),
    {
      target: document.querySelector(".namiContainer")!,
      offset: ["start center", "end center"],
    },
  );

  scroll(
    animate(".zoro", {
      strokeDashoffset: [1, 0],
      visibility: ["visible", "visible"],
    }),
    {
      target: document.querySelector(".zoroContainer")!,
      offset: ["start center", "end center"],
    },
  );
</script>
