<div
  id="homeSvgContainer"
  class="absolute top-0 -z-10 grid h-full w-full items-center justify-items-center overflow-x-clip max-[900px]:hidden"
>
  <svg
    id="homeMainSvg"
    class="absolute mb-12"
    width="1024"
    height="800"
    viewBox="0 0 1024 800"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g>
      <g id="Css">
        <path
          class="Line"
          pathLength="1"
          d="M584 629C595 512.5 773 450.5 773 450.5"
          stroke="#1572B6"
          stroke-width="5"
          stroke-linecap="round"></path>
        <path
          class="LineCover"
          pathLength="1"
          d="M584 629C595 512.5 773 450.5 773 450.5"
          stroke="#F3F4F6"
          stroke-width="10"
          stroke-linecap="round"></path>
        <path
          class="Part1"
          pathLength="1"
          d="M775.5 447L778.882 414.151C778.944 413.544 779.53 413.134 780.122 413.284L819.39 423.219C819.977 423.368 820.299 424 820.072 424.562L806.229 458.931C806.088 459.28 805.764 459.521 805.389 459.554L789.356 460.969C789.126 460.989 788.896 460.929 788.705 460.799L778 453.5"
          stroke="#1572B6"
          stroke-width="5"
          stroke-linecap="round"></path>
        <path
          class="Part2"
          pathLength="1"
          d="M788 426L806.24 430.437C806.33 430.459 806.345 430.58 806.263 430.623L792.224 437.884C792.143 437.926 792.155 438.044 792.242 438.069L802.392 440.969C802.45 440.986 802.48 441.048 802.457 441.103L799.024 449.443C799.009 449.478 798.976 449.502 798.938 449.504L792.031 449.998C792.011 449.999 791.991 449.995 791.973 449.984L786.05 446.529C786.019 446.511 786 446.478 786 446.443V444.5"
          stroke="#1572B6"
          stroke-width="5"
          stroke-linecap="round"></path>
      </g>
      <g id="Sass">
        <path
          class="Line"
          pathLength="1"
          d="M560 629C573 424 857 317 857 317"
          stroke="#CC6699"
          stroke-width="5"
          stroke-linecap="round"></path>
        <path
          class="LineCover"
          pathLength="1"
          d="M560 629C573 424 857 317 857 317"
          stroke="#F3F4F6"
          stroke-width="10"
          stroke-linecap="round"></path>
        <path
          class="Part1"
          pathLength="1"
          d="M860.138 313.897C869.412 304.422 884.419 304.11 894.079 313.19C904.04 322.552 904.015 338.446 894.15 347.909C884.48 357.184 869.27 356.936 860.138 347.131C852.469 338.897 852 329.5 855.5 321"
          stroke="#CC6699"
          stroke-width="5"
          stroke-linecap="round"></path>
        <path
          class="Part2"
          pathLength="1"
          d="M878.001 327C886.5 326 888.5 326.5 890 323.5C892.5 318.5 870.475 313 868 325C866.87 330.476 875.608 334.144 874.001 339.5C872.5 344.5 864.674 342.645 866 338.5C871.5 329.5 886.5 337 880.501 342.5"
          stroke="#CC6699"
          stroke-width="5"
          stroke-linecap="round"></path>
      </g>
      <g id="React">
        <path
          class="Line"
          pathLength="1"
          d="M536 629C536 383 675 229.5 675 229.5"
          stroke="#61DAFB"
          stroke-width="5"
          stroke-linecap="round"></path>
        <path
          class="LineCover"
          pathLength="1"
          d="M536 629C536 383 675 229.5 675 229.5"
          stroke="#F3F4F6"
          stroke-width="10"
          stroke-linecap="round"></path>
        <path
          class="Part1"
          pathLength="1"
          d="M676.5 227C676.5 227 694.5 203.5 704.5 209.5C709 212.5 704.5 223.5 704.5 223.5M685 218.94C685 218.94 714.351 222.779 714.155 234.439C713.807 239.836 702.031 241.439 702.031 241.439M696 223C696 223 707.351 250.338 697.155 255.999C692.307 258.396 685.031 248.999 685.031 248.999M698 234C698 234 680 257.5 670 251.5C665.5 248.5 670 237.5 670 237.5M690.005 240.981C690.005 240.981 660.653 237.142 660.849 225.482C661.197 220.085 672.973 218.482 672.973 218.482M679.005 238.221C679.005 238.221 667.653 210.883 677.849 205.222C682.697 202.825 689.973 212.222 689.973 212.222"
          stroke="#61DAFB"
          stroke-width="5"
          stroke-linecap="round"></path>
        <path
          class="Part2"
          pathLength="1"
          d="M687.501 228.5C688.5 228 690 228.5 690 230C690 231.5 689 232.5 687.501 232.5C686.001 232.5 685 232 685 230C685 228.5 687.501 227 689.125 228.5"
          stroke="#61DAFB"
          stroke-width="6"
          stroke-linecap="round"></path>
      </g>
      <g id="NextJS">
        <path
          class="Line"
          pathLength="1"
          d="M512 629C512 536.593 505 221 505 221"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"></path>
        <path
          class="LineCover"
          pathLength="1"
          d="M512 629C512 536.593 505 221 505 221"
          stroke="#F3F4F6"
          stroke-width="10"
          stroke-linecap="round"></path>
        <path
          class="Part1"
          pathLength="1"
          d="M505 217.999V202.626C505 202.431 505.247 202.347 505.36 202.506C507.472 205.476 518.374 220.79 524.817 229.57C525.177 230.061 525.004 230.766 524.458 231.036C497.928 244.113 476.336 210.262 497 192C517.934 173.501 549 200 531.5 225"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"></path>
        <path
          class="Part2"
          pathLength="1"
          d="M521 202.5V210.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"></path>
      </g>
      <g id="Javascript">
        <path
          class="Line"
          pathLength="1"
          d="M488 629C488 397.5 353.5 243 353.5 243"
          stroke="#F7DF1E"
          stroke-width="5"
          stroke-linecap="round"></path>
        <path
          class="LineCover"
          pathLength="1"
          d="M488 629C488 397.5 353.5 243 353.5 243"
          stroke="#F3F4F6"
          stroke-width="10"
          stroke-linecap="round"></path>
        <path
          class="Part1"
          pathLength="1"
          d="M353 239.5L352.033 205.158C352.015 204.548 351.46 204.095 350.859 204.201L310.632 211.3C310.034 211.406 309.667 212.016 309.855 212.594L321.308 247.909C321.426 248.271 321.738 248.535 322.114 248.59L338.179 250.953C338.388 250.983 338.601 250.948 338.787 250.85L350 245"
          stroke="#F7DF1E"
          stroke-width="5"
          stroke-linecap="round"></path>
        <path
          class="Part2"
          pathLength="1"
          d="M320.5 220.5L328.002 219.176C328.551 219.079 329.073 219.45 329.163 220L332.22 238.781C332.344 239.543 331.595 240.152 330.874 239.875L326 238M344.5 216L337.928 217.314C337.407 217.419 337.059 217.911 337.134 218.436L338.368 227.073C338.442 227.594 338.909 227.969 339.434 227.928L343.923 227.583C344.504 227.538 345 227.997 345 228.58V236.279C345 236.71 344.725 237.092 344.316 237.228L339 239"
          stroke="#F7DF1E"
          stroke-width="5"
          stroke-linecap="round"></path>
      </g>
      <g id="Typescript">
        <path
          class="Line"
          pathLength="1"
          d="M464 629C464 447 176 346.5 176 346.5"
          stroke="#3178C6"
          stroke-width="5"
          stroke-linecap="round"></path>
        <path
          class="LineCover"
          pathLength="1"
          d="M464 629C464 447 176 346.5 176 346.5"
          stroke="#F3F4F6"
          stroke-width="10"
          stroke-linecap="round"></path>
        <path
          class="Part1"
          pathLength="1"
          d="M175.099 344.835L166.991 306.687C166.417 303.986 163.761 302.262 161.06 302.836L123.891 310.737C121.19 311.311 119.465 313.966 120.04 316.667L127.94 353.837C128.514 356.538 131.169 358.262 133.87 357.688L171.04 349.787"
          stroke="#3178C6"
          stroke-width="5"
          stroke-linecap="round"></path>
        <path
          class="Part2"
          pathLength="1"
          d="M148.347 346.432L145.02 330.782M145.02 330.782L139.64 331.925M145.02 330.782L150.4 329.638M163.917 328.299C155.541 324.967 152.625 335.299 160.866 335.592C169.211 336.374 166.889 347.091 158.305 342.782"
          stroke="#3178C6"
          stroke-width="5"
          stroke-linecap="round"></path>
      </g>
      <g id="HTML">
        <path
          class="Line"
          pathLength="1"
          d="M440 629C440 536.5 246.5 451.5 246.5 451.5"
          stroke="#E34F26"
          stroke-width="5"
          stroke-linecap="round"></path>
        <path
          class="LineCover"
          pathLength="1"
          d="M440 629C440 536.5 246.5 451.5 246.5 451.5"
          stroke="#F3F4F6"
          stroke-width="10"
          stroke-linecap="round"></path>
        <path
          class="Part1"
          pathLength="1"
          d="M246.5 448.5L242.628 414.139C242.56 413.536 241.977 413.132 241.389 413.281L202.11 423.219C201.523 423.368 201.201 424 201.428 424.562L215.271 458.931C215.412 459.28 215.736 459.521 216.111 459.554L232.15 460.969C232.376 460.989 232.603 460.931 232.792 460.805L243 454"
          stroke="#E34F26"
          stroke-width="5"
          stroke-linecap="round"></path>
        <path
          class="Part2"
          pathLength="1"
          d="M233.5 426L216.611 430.222C216.024 430.369 215.7 431.001 215.925 431.564L219.181 439.702C219.364 440.161 219.855 440.417 220.337 440.305L233.397 437.257C233.983 437.121 234.556 437.528 234.619 438.127L235.435 445.884C235.475 446.261 235.298 446.629 234.978 446.832L230.246 449.844C230.085 449.946 229.899 450 229.709 450H223.566C223.215 450 222.889 449.816 222.709 449.514L221.5 447.5"
          stroke="#E34F26"
          stroke-width="5"
          stroke-linecap="round"></path>
      </g>
    </g>
  </svg>

  <svg
    class="absolute bottom-[calc(50%-220px)]"
    width="160"
    height="17"
    viewBox="0 0 160 17"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle cx="8" cy="8.5083" r="8" fill="#E34F26"></circle>
    <circle cx="32" cy="8.5083" r="8" fill="#3178C6"></circle>
    <circle cx="56" cy="8.5083" r="8" fill="#F7DF1E"></circle>
    <circle cx="80" cy="8.5083" r="8" fill="black"></circle>
    <circle cx="104" cy="8.5083" r="8" fill="#61DAFB"></circle>
    <circle cx="128" cy="8.5083" r="8" fill="#CC6699"></circle>
    <circle cx="152" cy="8.5083" r="8" fill="#1572B6"></circle>
  </svg>

  <svg
    id="homeLinesSvg"
    class="absolute bottom-[-1px] h-[calc(50%-210px)] min-h-[190px]"
    width="1024"
    viewBox="0 0 1024 217"
    preserveAspectRatio="none"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      pathLength="1"
      d="M440 3V214"
      stroke="#E34F26"
      stroke-width="5"
      stroke-linecap="square"></path>
    <path
      pathLength="1"
      d="M464 3V214"
      stroke="#3178C6"
      stroke-width="5"
      stroke-linecap="square"></path>
    <path
      pathLength="1"
      d="M488 3V214"
      stroke="#F7DF1E"
      stroke-width="5"
      stroke-linecap="square"></path>
    <path
      pathLength="1"
      d="M512 3V214"
      stroke="black"
      stroke-width="5"
      stroke-linecap="square"></path>
    <path
      pathLength="1"
      d="M536 3V214"
      stroke="#61DAFB"
      stroke-width="5"
      stroke-linecap="square"></path>
    <path
      pathLength="1"
      d="M560 3V214"
      stroke="#CC6699"
      stroke-width="5"
      stroke-linecap="square"></path>
    <path
      pathLength="1"
      d="M584 3V214"
      stroke="#1572B6"
      stroke-width="5"
      stroke-linecap="square"></path>
  </svg>
</div>

<style>
  path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    /* visibility: hidden; */
  }
</style>

<script>
  import { timeline, scroll, animate } from "motion";

  /**
   * Remember to set the pathLength="1" SVG attribute on
   * the elements you want to draw. This makes it easy
   * to use the same animation logic for elements of a
   * different path length.
   */

  const draw = (progress: number) => ({
    // This property makes the line "draw" in when animated
    strokeDashoffset: 1 - progress,

    // Each line will be hidden until it starts drawing
    // to fix a bug in Safari where the line can be
    // partially visible even when progress is at 0
    visibility: "visible",
  });

  timeline(
    [
      ["#homeMainSvg .Line", draw(1), { duration: 0.8, delay: 1 }],
      ["#homeMainSvg .LineCover", draw(1), { duration: 0.8, at: "-0.7" }],
      ["#homeMainSvg .Part1", draw(1), { duration: 0.8, at: "-0.3" }],
      ["#homeMainSvg .Part2", draw(1), { duration: 0.8, at: "0" }],
    ],
    {
      defaultOptions: {
        easing: "linear",
      },
    },
  );

  scroll(
    animate("#homeLinesSvg path", {
      strokeDashoffset: [1, 0],
      visibility: ["visible", "visible"],
    }),
    {
      target: document.getElementById("homeSvgContainer")!,
      offset: ["start start", "end center"],
    },
  );
</script>
