---
interface Props {
  id: number;
}

const { id } = Astro.props;
---

<div
  style={{
    marginTop: `${id * 20}px`,
    marginLeft: `${id * 20}px`,
  }}
  class="grid h-[600px] w-full grid-cols-2 items-center gap-4 justify-self-center rounded-3xl bg-gray-100 px-4 shadow-2xl"
>
  <div
    class="flex h-60 w-96 flex-col justify-center gap-4 justify-self-end text-end"
  >
    <h2 class="text-2xl font-semibold">Random Title</h2>
    <div class="relative flex h-6 justify-end">
      <svg
        class="icon icon-tabler icon-tabler-brand-html5 absolute -top-2 aspect-square w-10"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z"></path><path
          d="M15.5 8h-7l.5 4h6l-.5 3.5l-2.5 .75l-2.5 -.75l-.1 -.5"></path></svg
      >
    </div>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et vel nam,
      consectetur ipsam, qui nihil repudiandae sunt repellat architecto
    </p>
    <div class="flex justify-end gap-4">
      <button class="rounded-lg bg-black px-4 py-1 font-semibold text-white"
        >Live</button
      >
      <button class="rounded-lg bg-black px-4 py-1 font-semibold text-white"
        >Code</button
      >
    </div>
  </div>
  <div class="aspect-video w-full rounded-2xl bg-black/10"></div>
</div>
