---
import ProjectsSvg from "./ProjectsSvg.astro";
import ProjectCard from "../components/ProjectCard.astro";

const projects = [
  {
    title: "Random Title",
    desc: "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.",
    liveLink: "https://google.com",
    repoLink: "https://google.com",
  },
  {
    title: "Random Title",
    desc: "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.",
    liveLink: "https://google.com",
    repoLink: "https://google.com",
  },
  {
    title: "Random Title",
    desc: "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.",
    liveLink: "https://google.com",
    repoLink: "https://google.com",
  },
];
---

<section
  class="relative mt-[220px] grid h-max min-h-min w-full grid-cols-1 grid-rows-3 justify-center justify-items-center overflow-x-clip"
>
  <ProjectsSvg />

  {
    projects.map((project, index) => (
      <div
        id={`card${index}`}
        style={{ gridRowStart: index + 1 }}
        class="sticky top-0 z-10 col-start-1 col-end-1 grid h-screen w-full max-w-screen-lg items-center px-6"
      >
        <ProjectCard index={index} project={project} />
      </div>
    ))
  }
</section>

<script>
  import { scroll, animate } from "motion";

  /**
   * Remember to set the pathLength="1" SVG attribute on
   * the elements you want to draw. This makes it easy
   * to use the same animation logic for elements of a
   * different path length.
   */

  const projects = ["card1", "card2", "card3"];

  projects.forEach((id, index) => {
    scroll(
      animate(`#${id}`, {
        scale: [1.2, 1],
        visibility: ["visible", "visible"],
      }),
      {
        target: document.getElementById(id)!,
        offset: ["start end", "center center"],
      },
    );
  });
</script>
