---
interface Props {
  index: number;
}

const { index } = Astro.props;
---

<div
  class="pointer-events-none absolute -ml-[24px] grid items-center justify-items-center justify-self-center"
>
  {
    index === 0 && (
      <svg
        id={`projectCardSvg${index}`}
        class="pointer-events-none"
        width="1024"
        height="800"
        viewBox="0 0 1024 800"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="Svg">
          <g id="Typescript" class="Icon1">
            <path
              class="Line1"
              d="M139 203C139 300.5 357 371.5 498 371.5"
              stroke="#3178C6"
              stroke-width="3"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Line2"
              d="M139 203C139 300.5 357 371.5 498 371.5"
              stroke="#F3F4F6"
              stroke-width="10"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Part1"
              d="M497.998 370.73L497.981 348.81C497.979 347.258 496.72 346.001 495.168 346.002L473.81 346.019C472.258 346.02 471.001 347.28 471.002 348.832L471.019 370.19C471.021 371.742 472.28 372.999 473.832 372.998L495.19 372.981"
              stroke="#3178C6"
              stroke-width="2.81024"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Part2"
              d="M483.103 368.494L483.096 359.501M483.096 359.501L480.005 359.504M483.096 359.501L486.187 359.499M493.776 360.336C489.558 357.529 486.752 362.87 491.249 363.991C495.747 365.392 493.222 371.015 489.004 367.646"
              stroke="#3178C6"
              stroke-width="2.81024"
              stroke-linecap="round"
              pathLength="1"
            />
          </g>
          <g id="Tailwind" class="Icon2">
            <path
              class="Line1"
              d="M211 203C211 259.5 326.5 356 432.5 356"
              stroke="#61DAFB"
              stroke-width="3"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Line2"
              d="M211 203C211 259.5 326.5 356 432.5 356"
              stroke="#F3F4F6"
              stroke-width="10"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Line1"
              d="M139 203C139 276.5 273.5 356 432.5 356"
              stroke="#3178C6"
              stroke-width="3"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Line2"
              d="M139 203C139 276.5 273.5 356 432.5 356"
              stroke="#F3F4F6"
              stroke-width="10"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Part1"
              d="M441.653 350.018C438.201 349.673 433.733 354.356 432.495 355.74C432.402 355.843 432.509 355.997 432.641 355.954C433.796 355.569 436.805 354.651 438.942 354.763C442.763 354.962 447.075 359.507 451.142 359.507C454.63 359.507 457.62 354.521 458.4 353.102C458.464 352.986 458.338 352.864 458.22 352.923C457.202 353.431 454.356 354.763 452.498 354.763C448.431 354.763 445.7 350.423 441.653 350.018Z"
              stroke="#06B6D4"
              stroke-width="2.10957"
              pathLength="1"
            />
            <path
              class="Part2"
              d="M438.489 360.511C435.037 360.166 430.569 364.849 429.331 366.233C429.238 366.336 429.345 366.491 429.477 366.447C430.632 366.062 433.641 365.145 435.778 365.256C439.599 365.455 443.911 370 447.978 370C451.466 370 454.456 365.014 455.236 363.595C455.3 363.479 455.174 363.357 455.055 363.416C454.038 363.924 451.192 365.256 449.334 365.256C445.267 365.256 442.536 360.916 438.489 360.511Z"
              stroke="#06B6D4"
              stroke-width="2.10957"
              pathLength="1"
            />
          </g>
          <g id="React" class="Icon3">
            <path
              class="Line1"
              d="M211.002 203C211.002 273.5 326.502 360 403.502 360"
              stroke="#61DAFB"
              stroke-width="3"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Line2"
              d="M211.002 203C211.002 273.5 326.502 360 403.502 360"
              stroke="#F3F4F6"
              stroke-width="10"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Part1"
              d="M397.41 359.344C397.41 359.344 404.693 345.176 410.563 347.397C413.233 348.555 411.903 354.811 411.903 354.811M401.14 354.262C401.14 354.262 417.051 353.486 418.063 359.68C418.395 362.571 412.312 364.547 412.312 364.547M407.354 355.359C407.354 355.359 415.981 368.751 411.124 372.724C408.786 374.457 404.033 370.177 404.033 370.177M409.466 360.993C409.466 360.993 402.182 375.16 396.313 372.94C393.642 371.782 394.973 365.526 394.973 365.526M405.9 365.455C405.9 365.455 389.989 366.231 388.977 360.038C388.645 357.146 394.727 355.17 394.727 355.17M399.81 365.046C399.81 365.046 391.183 351.655 396.041 347.682C398.379 345.949 403.131 350.229 403.131 350.229"
              stroke="#61DAFB"
              stroke-width="2.6907"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Part2"
              d="M403.38 359.085C403.861 358.725 404.703 358.846 404.847 359.64C404.99 360.435 404.557 361.06 403.763 361.203C402.968 361.347 402.39 361.178 402.199 360.119C402.056 359.324 403.236 358.291 404.24 358.93"
              stroke="#61DAFB"
              stroke-width="3.22884"
              stroke-linecap="round"
              pathLength="1"
            />
          </g>
        </g>
      </svg>
    )
  }

  {
    index === 1 && (
      <svg
        id={`projectCardSvg${index}`}
        width="1024"
        height="800"
        viewBox="0 0 1024 800"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="Svg">
          <g id="React" class="Icon1">
            <path
              class="Line1"
              d="M211.002 203C211.002 273.5 342 360 483.5 360"
              stroke="#61DAFB"
              stroke-width="3"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Line2"
              d="M211.002 203C211.002 273.5 342 360 483.5 360"
              stroke="#F3F4F6"
              stroke-width="10"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Part1"
              d="M477.41 359.344C477.41 359.344 484.693 345.176 490.563 347.397C493.233 348.555 491.903 354.811 491.903 354.811M481.14 354.262C481.14 354.262 497.051 353.486 498.063 359.68C498.395 362.571 492.312 364.547 492.312 364.547M487.354 355.359C487.354 355.359 495.981 368.751 491.124 372.724C488.786 374.457 484.033 370.177 484.033 370.177M489.466 360.993C489.466 360.993 482.182 375.16 476.313 372.94C473.642 371.782 474.973 365.526 474.973 365.526M485.9 365.455C485.9 365.455 469.989 366.231 468.977 360.038C468.645 357.146 474.727 355.17 474.727 355.17M479.81 365.046C479.81 365.046 471.183 351.655 476.041 347.682C478.379 345.949 483.131 350.229 483.131 350.229"
              stroke="#61DAFB"
              stroke-width="2.6907"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Part2"
              d="M483.38 359.085C483.861 358.724 484.703 358.846 484.847 359.64C484.99 360.434 484.557 361.06 483.763 361.203C482.968 361.347 482.39 361.178 482.199 360.118C482.056 359.324 483.236 358.291 484.24 358.929"
              stroke="#61DAFB"
              stroke-width="3.22884"
              stroke-linecap="round"
              pathLength="1"
            />
          </g>
          <g id="Sass" class="Icon2">
            <path
              class="Line1"
              d="M235 203C235 255 355 352 434 352"
              stroke="#CC6699"
              stroke-width="3"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Line2"
              d="M235 203C235 255 355 352 434 352"
              stroke="#F3F4F6"
              stroke-width="10"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Part1"
              d="M434.454 351.813C439.169 346.996 446.799 346.837 451.711 351.453C456.775 356.213 456.762 364.294 451.747 369.105C446.83 373.821 439.097 373.695 434.454 368.709C430.555 364.523 430.317 359.746 432.096 355.424"
              stroke="#CC6699"
              stroke-width="2.54208"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Part2"
              d="M443.537 358.473C447.858 357.965 448.875 358.219 449.638 356.694C450.909 354.152 439.711 351.356 438.453 357.457C437.878 360.241 442.321 362.106 441.504 364.829C440.741 367.371 436.762 366.428 437.436 364.32C440.232 359.745 447.858 363.558 444.808 366.354"
              stroke="#CC6699"
              stroke-width="2.54208"
              stroke-linecap="round"
              pathLength="1"
            />
          </g>
        </g>
      </svg>
    )
  }

  {
    index === 2 && (
      <svg
        id={`projectCardSvg${index}`}
        width="1024"
        height="800"
        viewBox="0 0 1024 800"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="Svg">
          <g id="HTML" class="Icon1">
            <path
              class="Line1"
              d="M115 203C115 283 384 368.5 493 368.5"
              stroke="#E34F26"
              stroke-width="3"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Line2"
              d="M115 203C115 283 384 368.5 493 368.5"
              stroke="#F3F4F6"
              stroke-width="10"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Part1"
              d="M493.019 368.202L495.777 348.762C495.825 348.421 495.562 348.116 495.218 348.114L472.212 347.991C471.868 347.99 471.601 348.292 471.646 348.633L474.368 369.495C474.395 369.707 474.54 369.885 474.741 369.956L483.357 373.015C483.478 373.059 483.611 373.059 483.733 373.017L490.312 370.727"
              stroke="#E34F26"
              stroke-width="2.8391"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Part2"
              d="M489.071 353.984L479.186 353.903C478.842 353.9 478.575 354.202 478.618 354.543L479.251 359.48C479.286 359.758 479.52 359.969 479.8 359.975L487.413 360.157C487.755 360.166 488.012 360.471 487.961 360.809L487.307 365.19C487.275 365.403 487.125 365.579 486.92 365.646L483.891 366.628C483.788 366.662 483.678 366.665 483.574 366.638L480.197 365.764C480.004 365.714 479.851 365.567 479.795 365.375L479.417 364.096"
              stroke="#E34F26"
              stroke-width="2.8391"
              stroke-linecap="round"
              pathLength="1"
            />
          </g>
          <g id="Sass" class="Icon2">
            <path
              class="Line1"
              d="M235 203C235 255 355 352 434 352"
              stroke="#CC6699"
              stroke-width="3"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Line2"
              d="M235 203C235 255 355 352 434 352"
              stroke="#F3F4F6"
              stroke-width="10"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Part1"
              d="M434.454 351.813C439.169 346.996 446.799 346.837 451.711 351.453C456.775 356.213 456.762 364.294 451.747 369.105C446.83 373.821 439.097 373.695 434.454 368.709C430.555 364.523 430.317 359.746 432.096 355.424"
              stroke="#CC6699"
              stroke-width="2.54208"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Part2"
              d="M443.537 358.473C447.858 357.965 448.875 358.219 449.638 356.694C450.909 354.152 439.711 351.356 438.453 357.457C437.878 360.241 442.321 362.106 441.504 364.829C440.741 367.371 436.762 366.428 437.436 364.32C440.232 359.745 447.858 363.558 444.808 366.354"
              stroke="#CC6699"
              stroke-width="2.54208"
              stroke-linecap="round"
              pathLength="1"
            />
          </g>
          <g id="Javascript" class="Icon3">
            <path
              class="Line1"
              d="M162.998 203C162.998 259 329.998 369 412.498 369"
              stroke="#F7DF1E"
              stroke-width="3"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Line2"
              d="M162.998 203C162.998 259 329.998 369 412.498 369"
              stroke="#F3F4F6"
              stroke-width="10"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Part1"
              d="M412.783 368.73L415.95 349.251C416.006 348.905 415.742 348.589 415.391 348.584L391.93 348.241C391.581 348.236 391.308 348.54 391.351 348.886L393.995 370.048C394.023 370.265 394.17 370.447 394.376 370.519L403.184 373.589C403.298 373.628 403.422 373.631 403.538 373.596L410.496 371.508"
              stroke="#F7DF1E"
              stroke-width="2.87207"
              stroke-linecap="round"
              pathLength="1"
            />
            <path
              class="Part2"
              d="M396.502 354.498L400.877 354.562C401.197 354.566 401.452 354.832 401.443 355.152L401.138 366.078C401.125 366.521 400.637 366.784 400.26 366.549L397.713 364.965M410.528 354.553L406.678 354.584C406.373 354.587 406.123 354.827 406.109 355.132L405.871 360.137C405.857 360.439 406.08 360.701 406.381 360.735L408.951 361.025C409.283 361.063 409.513 361.376 409.45 361.704L408.618 366.048C408.571 366.291 408.375 366.477 408.13 366.509L404.939 366.934"
              stroke="#F7DF1E"
              stroke-width="2.87207"
              stroke-linecap="round"
              pathLength="1"
            />
          </g>
        </g>
      </svg>
    )
  }
</div>

<style>
  path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    /* visibility: hidden; */
  }
</style>
