<div
  class="pointer-events-none sticky top-0 z-50 col-start-1 col-end-1 row-start-1 grid w-screen justify-center"
>
  <div
    class="absolute top-[-220px] grid h-screen min-h-[800px] w-screen justify-center overflow-x-clip"
  >
    <div class="grid justify-center">
      <div id="projectsIntroLines" class="mt-[-1px] h-[calc(50%-397px)]">
        <svg
          class="h-full"
          width="1024"
          viewBox="0 0 1024 217"
          preserveAspectRatio="none"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            pathLength="1"
            d="M440 3V214"
            stroke="#E34F26"
            stroke-width="5"
            stroke-linecap="square"></path>
          <path
            pathLength="1"
            d="M464 3V214"
            stroke="#3178C6"
            stroke-width="5"
            stroke-linecap="square"></path>
          <path
            pathLength="1"
            d="M488 3V214"
            stroke="#F7DF1E"
            stroke-width="5"
            stroke-linecap="square"></path>
          <path
            pathLength="1"
            d="M512 3V214"
            stroke="black"
            stroke-width="5"
            stroke-linecap="square"></path>
          <path
            pathLength="1"
            d="M536 3V214"
            stroke="#61DAFB"
            stroke-width="5"
            stroke-linecap="square"></path>
          <path
            pathLength="1"
            d="M560 3V214"
            stroke="#CC6699"
            stroke-width="5"
            stroke-linecap="square"></path>
          <path
            pathLength="1"
            d="M584 3V214"
            stroke="#1572B6"
            stroke-width="5"
            stroke-linecap="square"></path>
        </svg>
      </div>
    </div>

    <div
      id="projectsCurvedLines"
      class="absolute top-[calc(50%-400px)] grid w-full justify-center"
    >
      <svg
        width="1024"
        height="443"
        viewBox="0 0 1024 443"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          pathLength="1"
          d="M560 3C560 229.5 300 238.5 235 423"
          stroke="#CC6699"
          stroke-width="5"
          stroke-linecap="square"></path>
        <path
          pathLength="1"
          d="M584 3C584 235 322.5 254.5 259 423"
          stroke="#1572B6"
          stroke-width="5"
          stroke-linecap="square"></path>
        <path
          pathLength="1"
          d="M512 3C512 212.5 224.5 230 187 423"
          stroke="black"
          stroke-width="5"
          stroke-linecap="square"></path>
        <path
          pathLength="1"
          d="M536 3C536 224 264.5 232 211 424"
          stroke="#61DAFB"
          stroke-width="5"
          stroke-linecap="square"></path>
        <path
          pathLength="1"
          d="M488 3C488 191 187.5 235.5 163 423"
          stroke="#F7DF1E"
          stroke-width="5"
          stroke-linecap="square"></path>
        <path
          pathLength="1"
          d="M464 3C464 183.5 148 238 139 423"
          stroke="#3178C6"
          stroke-width="5"
          stroke-linecap="square"></path>
        <path
          pathLength="1"
          d="M440 3C440 169 131.5 230.5 115 423"
          stroke="#E34F26"
          stroke-width="5"
          stroke-linecap="square"></path>
        <circle cx="115" cy="422.508" r="8" fill="#E34F26"></circle>
        <circle cx="139" cy="422.508" r="8" fill="#3178C6"></circle>
        <circle cx="163" cy="422.508" r="8" fill="#F7DF1E"></circle>
        <circle cx="187" cy="422.508" r="8" fill="black"></circle>
        <circle cx="211" cy="422.508" r="8" fill="#61DAFB"></circle>
        <circle cx="235" cy="422.508" r="8" fill="#CC6699"></circle>
        <circle cx="259" cy="422.508" r="8" fill="#1572B6"></circle>
      </svg>
    </div>
  </div>

  <div
    id="projectsOutroLines"
    class="absolute bottom-0 z-50 grid h-[calc(50%+200px)] w-full justify-center justify-items-center overflow-x-clip"
  >
    <svg
      class="h-full"
      width="1024"
      preserveAspectRatio="none"
      viewBox="0 0 1024 565"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M115 3V562"
        stroke="#E34F26"
        stroke-width="5"
        stroke-linecap="square"
        pathLength="1"></path>
      <path
        d="M139 3V562"
        stroke="#3178C6"
        stroke-width="5"
        stroke-linecap="square"
        pathLength="1"></path>
      <path
        d="M163 3V562"
        stroke="#F7DF1E"
        stroke-width="5"
        stroke-linecap="square"
        pathLength="1"></path>
      <path
        d="M187 3V562"
        stroke="black"
        stroke-width="5"
        stroke-linecap="square"
        pathLength="1"></path>
      <path
        d="M211 3V562"
        stroke="#61DAFB"
        stroke-width="5"
        stroke-linecap="square"
        pathLength="1"></path>
      <path
        d="M235 3V562"
        stroke="#CC6699"
        stroke-width="5"
        stroke-linecap="square"
        pathLength="1"></path>
      <path
        d="M259 3V562"
        stroke="#1572B6"
        stroke-width="5"
        stroke-linecap="square"
        pathLength="1"></path>
    </svg>
  </div>
</div>

<style>
  path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    /* visibility: hidden; */
  }
</style>

<script>
  import { scroll, animate } from "motion";

  /**
   * Remember to set the pathLength="1" SVG attribute on
   * the elements you want to draw. This makes it easy
   * to use the same animation logic for elements of a
   * different path length.
   */

  scroll(
    animate("#projectsIntroLines svg path", {
      strokeDashoffset: [1, 0],
      visibility: ["visible", "visible"],
    }),
    {
      target: document.querySelector("#projectsIntroLines")!,
      offset: ["start center", "end center"],
    },
  );

  scroll(
    animate("#projectsCurvedLines svg path", {
      strokeDashoffset: [1, 0],
      visibility: ["visible", "visible"],
    }),
    {
      target: document.querySelector("#projectsCurvedLines")!,
      offset: ["start center", "end center"],
    },
  );

  scroll(
    // @ts-ignore Complains about "r" property not existing but it does
    animate("#projectsCurvedLines circle", {
      r: [0, 8],
      visibility: ["visible", "visible"],
    }),
    {
      target: document.querySelector("#projectsCurvedLines")!,
      offset: ["end center", "end 0.48"],
    },
  );

  scroll(
    animate("#projectsOutroLines svg path", {
      strokeDashoffset: [1, 0],
      visibility: ["visible", "visible"],
    }),
    {
      target: document.querySelector("#projectsOutroLines")!,
      offset: ["end end", "end center"],
    },
  );
</script>
